/**
 * @Author: rahaingomanana <laurent>
 * @Date:   2019-10-19T23:54:21+02:00
 * @Email:  laurent.rahaingomanana@estaca.eu
 * @Filename: style.scss
// @Last modified by:   laurent
// @Last modified time: 2021-10-05T20:30:16+02:00
 */
@import url("https://fonts.googleapis.com/css?family=Amiko|Montserrat|Barlow&display=swap");
body,
html {
  width: 100%;
  font-family: "Amiko", sans-serif;
  color: white;
  scroll-behavior: smooth;
  background-color: rgb(54, 54, 54);
}

body {
  position: relative;
  line-height: 1.5em;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
}

nav {
  width: 100%;
}
nav .content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.03em;
  font-size: 1.4em;
  padding-bottom: 0.7em;
  padding-top: 0.9em;
}
nav .content > a {
  border: 0.5mm solid #B39556;
  border-radius: 0.15em;
  padding: 0.4em 2em 0.4em 2em;
}
nav .content ul {
  width: 70vw;
  padding-left: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
nav .content ul * {
  vertical-align: middle;
}
nav .spacer {
  width: 70%;
  border-bottom: 1px solid white;
  margin-bottom: 1.8em;
  margin-left: auto;
  margin-right: auto;
}

#presentation {
  position: relative;
  margin-bottom: 18vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: auto;
}
#presentation .text {
  z-index: 1;
  position: relative;
  height: 100%;
  width: 100%;
}
#presentation .text p {
  color: white;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 1em;
  padding-top: 0.2em;
  font-size: 2.5vw;
  background-color: rgb(54, 54, 54);
  opacity: 50%;
}
#presentation .text h4 {
  line-height: 1em;
  font-size: 5vw;
  margin-bottom: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.3em;
  color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#presentation .text a {
  color: white;
  font-size: 1.7em;
  border: 0.5mm solid white;
  border-radius: 0.15em;
  padding: 0.4em 2em 0.4em 2em;
}
#presentation img {
  position: relative;
  width: 35%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.section {
  text-align: justify;
  margin-bottom: 10vw;
  display: flex;
  flex-direction: row;
}
.section .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section .img img {
  width: 40vw;
  filter: blur(4px);
}
.section .img:hover img {
  transition: 0.2s;
  filter: none;
}
.section .img .text {
  position: absolute;
  font-size: 1.5em;
}
.section .img .text a {
  font-size: 1.7em;
  padding: 0.4em 2em 0.4em 2em;
}
.section .img .text * {
  color: white;
  text-align: center;
}
.section > .text p {
  margin: 0 2em 0 2em;
  font-size: 1.5em;
}
.section > .text p::first-letter {
  float: left;
  font-size: 4em;
  padding: 0 0.1em 0.1em 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experience > .text p::first-letter {
  color: #AF62CC;
}
#experience .img .text a {
  border: 0.5mm solid #AF62CC;
}
#experience .img .text a:hover {
  background-color: #AF62CC;
  opacity: 0.9;
}

#projets > .text p::first-letter {
  color: #32662f;
}
#projets .img {
  position: relative;
}
#projets .img .text {
  width: 100%;
}
#projets .img .text a {
  border: 0.5mm solid #32662f;
}
#projets .img .text a:hover {
  background-color: #32662f;
  opacity: 0.9;
}

#musique > .text p::first-letter {
  color: #B39556;
}
#musique .img .text a {
  border: 0.5mm solid #B39556;
}
#musique .img .text:hover a {
  background-color: #B39556;
  opacity: 0.9;
}

footer {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  border-top: 0.2mm solid grey;
  margin-top: 25vw;
  background-color: rgba(255, 255, 255, 0.3);
}
footer .socials {
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 9em;
  padding-right: 9em;
}
footer .title {
  text-align: center;
  padding-bottom: 3em;
}
footer img {
  height: 3.5em;
}
footer #bottom {
  margin-top: 1em;
  border-top: 0.8mm solid black;
  text-align: center;
  padding-top: 0.8em;
  padding-bottom: 1em;
}

@media screen and (max-width: 960px) {
  nav {
    display: none;
  }
  .section > .text {
    display: none;
  }
  .section .img img {
    margin: 0;
    width: 100vw;
    height: auto;
    filter: none;
  }
  .section .img .text {
    margin-top: 1em;
    margin-bottom: 2em;
    position: relative;
  }
  .section .img .text * {
    color: black;
  }
  .section .img .text p {
    font-size: 1.3em;
  }
  #experience .img .text p {
    color: #AF62CC;
  }
  #projets .img .text p {
    color: #32662f;
  }
  #musique .img .text p {
    color: #B39556;
  }
}
@media screen and (max-width: 800px) {
  #presentation {
    position: relative;
  }
  #presentation .text {
    position: absolute;
    padding-left: 0%;
    padding-top: 1.7em;
  }
  #presentation .text * {
    line-height: 1.1em;
    opacity: 50%;
    background-color: rgb(54, 54, 54);
  }
  #presentation .text h4 {
    font-size: 12vw;
    margin-bottom: 5.2em;
  }
  #presentation .text p {
    font-size: 5.5vw;
  }
  #presentation img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */